$openSansPath: "../fonts/OpenSans" !default;
$openSansVersion: "1.1.0" !default;

$phone-horizontal-width: 480px;
$phone-horizontal-height: 320px;

$phone-vertical-width: 320px;
$phone-vertical-height: 480px;

$iphone-width: 320px;
$iphone-height: 568px;

$desktop-height: 768px;