/* BEGIN Bold Italic */
@font-face {
  font-family: 'Open Sans';
  @include includeFont($openSansPath, $openSansVersion, "BoldItalic");
  font-weight: bold;
  font-style: italic;
}
/* END Bold Italic */
