/* BEGIN Light Italic */
@font-face {
  font-family: 'Open Sans';
  @include includeFont($openSansPath, $openSansVersion, "LightItalic");
  font-weight: 300;
  font-style: italic;
}
/* END Light Italic */
