/* BEGIN Semibold Italic */
@font-face {
  font-family: 'Open Sans';
  @include includeFont($openSansPath, $openSansVersion, "SemiboldItalic");
  font-weight: 600;
  font-style: italic;
}
/* END Semibold Italic */
